body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
        --primary-bg-color: #181818;
    --secondary-bg-color: #f7f7f7;


    --text-color: green;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

body.dark-mode {
    --primary-bg-color: #f7f7f7;
    --secondary-bg-color: #212121;
    --text-color: #fff;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: var(--primary-bg-color);
    color: var(--text-color); /* Set text color to default color */
}

body.dark-mode .container {
    color: green; /* Set text color to black in dark mode */
}



.header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dark-mode-toggle {
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
}

.chat-container {
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.chatbox {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

.chatbox p {
    margin: 5px 0;
}

.user-input {
    display: flex;
    margin-top: 15px;
}

#user_input {
    flex-grow: 1;
    margin-right: 10px;
}

#send-btn {
    width: 100px;
}

.btn-primary {
    background-color: #3454d1;
    border-color: #3454d1;
}

.btn-primary:hover {
    background-color: #2742ad;
    border-color: #2742ad;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 84, 209, 0.5);
}

/* Additional styles for dark mode transition */
.fade-transition {
    transition: background-color 0.3s ease-in-out;
}
.fa-trash-can{
    margin-top:20px;
    margin-right: 5px;
}
#clear{
        cursor: pointer;

}